<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="container">
	<div>
		<a href="${hdpath }/user/list" class="btn btn-success" style="height: 100px; width: 200px;">登陆</a>
	</div>
	<div>
		<a href="" class="btn btn-primary" style="height: 100px; width: 200px;">测试</a>
	</div>
</div>
</body>
</html>