<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hedong.hedongwx.dao.AmendDataDao">
	
	
	<!-- 实体类插入数据 -->
	<insert id="insertCodestatis" parameterType="com.hedong.hedongwx.entity.Codestatistics">
		INSERT IGNORE INTO hd_codestatistics_copy (code, merid, areaid, type, ordertotal, wechatorder,alipayorder, wechatretord, 
		alipayretord, moneytotal, wechatmoney, alipaymoney, wechatretmoney, alipayretmoney, incoinsorder, incoinsmoney, 
		count_time, consumetime, consumequantity, paymentmoney,windowpulsemoney,offcardmoney,oncardmoney,unionpayordernum,
		unionpaymoney,refunionpaymoney)
		values
		(#{code,jdbcType=VARCHAR},#{merid,jdbcType=INTEGER},#{areaid,jdbcType=INTEGER},#{type,jdbcType=INTEGER},#{ordertotal,jdbcType=INTEGER},
		#{wechatorder,jdbcType=INTEGER},#{alipayorder,jdbcType=INTEGER},#{wechatretord,jdbcType=INTEGER},#{alipayretord,jdbcType=INTEGER},
		#{moneytotal,jdbcType=DOUBLE},#{wechatmoney,jdbcType=DOUBLE},#{alipaymoney,jdbcType=DOUBLE},#{wechatretmoney,jdbcType=DOUBLE},
		#{alipayretmoney,jdbcType=DOUBLE},#{incoinsorder,jdbcType=INTEGER},#{incoinsmoney,jdbcType=DOUBLE},#{countTime,jdbcType=DATE},
		#{consumetime,jdbcType=INTEGER},#{consumequantity,jdbcType=INTEGER},#{paymentmoney,jdbcType=DOUBLE},#{windowpulsemoney,jdbcType=DOUBLE},
		#{offcardmoney,jdbcType=DOUBLE},#{oncardmoney,jdbcType=DOUBLE},#{unionpayordernum,jdbcType=INTEGER},
		#{unionpaymoney,jdbcType=DOUBLE},#{refunionpaymoney,jdbcType=DOUBLE})
	</insert>
	
	<!-- *************************************************************************** -->
	<sql id="DealerIncome_Column_Param">
		merid,type,totalordernum,incomemoney,returnmoney,deviceincome,topupincome,wechatordernum,
		wechatincome,wechatreturnmoney,alipayordernum,alipayincome,alipayreturnmoney,unionpayordernum,
		unionpayincome,unionpayreturnmoney,incoinsmoney,oncardmoney,offcardmoney,windowpulsemoney,
		consumetotaltime,consumetotalquantity,createtime,detail,remark
	</sql>
	
	<insert id="insertionDealerIncome" parameterType="java.util.List">  
	    INSERT IGNORE INTO hd_collectdealerincome (<include refid="DealerIncome_Column_Param"/>)
		VALUES 
		<foreach collection="list" index="index" item="item" separator=",">
        (#{item.merid}, #{item.type}, #{item.totalordernum}, #{item.incomemoney}, #{item.returnmoney},
        #{item.deviceincome}, #{item.topupincome}, #{item.wechatordernum}, #{item.wechatincome}, #{item.wechatreturnmoney}, 
        #{item.alipayordernum}, #{item.alipayincome}, #{item.alipayreturnmoney}, #{item.unionpayordernum}, #{item.unionpayincome}, 
        #{item.unionpayreturnmoney}, #{item.incoinsmoney}, #{item.oncardmoney}, #{item.offcardmoney}, #{item.windowpulsemoney}, 
        #{item.consumetotaltime}, #{item.consumetotalquantity}, #{item.createtime}, #{item.detail}, #{item.remark})
    	</foreach>
	</insert> 
	
	<insert id="inserDealerIncome" parameterType="java.util.List">  
	    INSERT IGNORE INTO hd_codestatistics_copy (
			code,merid,areaid,type,ordertotal,wechatorder,alipayorder,wechatretord,alipayretord,
			moneytotal,wechatmoney,alipaymoney,wechatretmoney,alipayretmoney,incoinsorder,
			incoinsmoney,count_time,consumetime,consumequantity,paymentmoney,
			offcardmoney,oncardmoney,windowpulsemoney,unionpayordernum,unionpaymoney,
			refunionpaymoney
		)
		VALUES 
		<foreach collection="list" index="index" item="item" separator=",">
        (#{item.code}, #{item.merid}, #{item.areaid}, #{item.type}, #{item.ordertotal}, 
         #{item.wechatorder}, #{item.alipayorder},#{item.wechatretord}, #{item.alipayretord}, #{item.moneytotal}, 
         #{item.wechatmoney}, #{item.alipaymoney},#{item.wechatretmoney}, #{item.alipayretmoney},#{item.incoinsorder}, 
         #{item.incoinsmoney}, #{item.count_time}, #{item.consumetime}, #{item.consumequantity}, #{item.paymentmoney}, 
         #{item.offcardmoney}, #{item.oncardmoney}, #{item.windowpulsemoney},#{item.unionpayordernum}, #{item.unionpaymoney}, 
         #{item.refunionpaymoney}
        )
    	</foreach>
	</insert> 
   
   
   <!-- *************************************************************************** -->
	
	<!-- origin 查询没有绑定设备合伙人信息 -->
	<select id="inquireAllmeridInfo"  resultType="java.util.Map">
		SELECT DISTINCT user_id AS merid FROM hd_user_equipment
		UNION
		SELECT DISTINCT(partid) AS merid FROM hd_arearelevance WHERE type = 2 AND partid NOT IN (
			SELECT DISTINCT user_id FROM hd_user_equipment
		)
	</select>
	
	<!-- origin 查询绑定设备的商户与是合伙人的id信息 -->
	<select id="inquireMeridData"  resultType="java.util.Map">
		SELECT DISTINCT user_id AS merid FROM hd_user_equipment
		UNION
		SELECT DISTINCT(partid) AS merid FROM hd_arearelevance WHERE type = 2 AND percent >= 0.00 AND partid NOT IN (
			SELECT DISTINCT user_id FROM hd_user_equipment
		)
	</select>
	
	<!-- origin 根据表（商户收益明细表）查询商户收益信息 -->
	<select id="dealerIncomeStatistics" parameterType="com.hedong.hedongwx.entity.Parameters" resultType="java.util.Map">
		SELECT merid,
			SUM(CASE WHEN paytype = 2 AND `status` = 1 THEN 1 ELSE 0 END) AS wechatnum,		
			SUM(CASE WHEN paytype = 2 AND `status` = 2 THEN 1 ELSE 0 END) AS refwechatnum,
			SUM(CASE WHEN paytype = 3 AND `status` = 1 THEN 1 ELSE 0 END) AS alipaynum,
			SUM(CASE WHEN paytype = 3 AND `status` = 2 THEN 1 ELSE 0 END) AS refalipaynum,
			SUM(CASE WHEN paytype = 4 AND `status` = 1 THEN 1 ELSE 0 END) AS unionpaynum,
			SUM(CASE WHEN paytype = 4 AND `status` = 2 THEN 1 ELSE 0 END) AS refunionpaynum,
		
			SUM(CASE WHEN paytype = 2 AND `status` = 1 THEN money ELSE 0 END) AS wechatmoney,
			SUM(CASE WHEN paytype = 3 AND `status` = 1 THEN money ELSE 0 END) AS alipaymoney,
			SUM(CASE WHEN paytype = 2 AND `status` = 2 THEN money ELSE 0 END) AS refwechatmoney,
			SUM(CASE WHEN paytype = 3 AND `status` = 2 THEN money ELSE 0 END) AS refalipaymoney,
			SUM(CASE WHEN paytype = 4 AND `status` = 1 THEN money ELSE 0 END) AS unionpaymoney,
			SUM(CASE WHEN paytype = 4 AND `status` = 2 THEN money ELSE 0 END) AS refunionpaymoney,
		
			SUM(CASE WHEN paysource = 8 AND paytype = 1 AND `status` = 2 THEN money ELSE 0 END) AS incomepaymentmoney,
			SUM(CASE WHEN paysource = 8 AND paytype = 2 AND `status` = 2 THEN money ELSE 0 END) AS wechatpaymentmoney
		FROM  hd_mer_detail
		<where>
			<if test="dealer!=null and dealer!=''"> AND merid = #{dealer} </if>
			<if test="startTime!=null and startTime!=''"> AND create_time &gt;= #{startTime} </if>
			<if test="endTime!=null and endTime!=''"> AND create_time &lt;= #{endTime} </if> 
		</where>
		GROUP BY merid
	</select>
	
	<!--  -->
	<!-- origin 根据表（商户收益明细表）查询商户收益订单数量信息 -->
	<select id="dealerIncomeOrder" parameterType="com.hedong.hedongwx.entity.Parameters" resultType="java.util.Map">
		SELECT merid,
			SUM(CASE WHEN paytype = 2 AND `status` = 1 THEN 1 ELSE 0 END) AS wechatnum,		
			SUM(CASE WHEN paytype = 2 AND `status` = 2 THEN 1 ELSE 0 END) AS refwechatnum,
			SUM(CASE WHEN paytype = 3 AND `status` = 1 THEN 1 ELSE 0 END) AS alipaynum,
			SUM(CASE WHEN paytype = 3 AND `status` = 2 THEN 1 ELSE 0 END) AS refalipaynum,
			SUM(CASE WHEN paytype = 4 AND `status` = 1 THEN 1 ELSE 0 END) AS unionpaynum,
			SUM(CASE WHEN paytype = 4 AND `status` = 2 THEN 1 ELSE 0 END) AS refunionpaynum
		FROM  hd_mer_detail
		<where>
			<if test="dealer!=null and dealer!=''"> AND merid = #{dealer} </if>
			<if test="source!=null and source!=''"> AND paysource IN (${source}) </if>
			<if test="startTime!=null and startTime!=''"> AND create_time &gt;= #{startTime} </if>
			<if test="endTime!=null and endTime!=''"> AND create_time &lt;= #{endTime} </if> 
		</where>
		GROUP BY merid
	</select>
	
	<!-- origin 根据表（商户收益明细表）查询商户除设备外的收益信息 -->
	<select id="dealerTopupIncome" parameterType="com.hedong.hedongwx.entity.Parameters" resultType="java.util.Map">
		SELECT merid,
			SUM(CASE WHEN paytype = 2 AND `status` = 1 THEN money ELSE 0 END) AS wechatmoney,
			SUM(CASE WHEN paytype = 3 AND `status` = 1 THEN money ELSE 0 END) AS alipaymoney,
			SUM(CASE WHEN paytype = 2 AND `status` = 2 THEN money ELSE 0 END) AS wechatreturnmoney,
			SUM(CASE WHEN paytype = 3 AND `status` = 2 THEN money ELSE 0 END) AS alipayreturnmoney,
			SUM(CASE WHEN paytype = 4 AND `status` = 1 THEN money ELSE 0 END) AS unionpaymoney,
			SUM(CASE WHEN paytype = 4 AND `status` = 2 THEN money ELSE 0 END) AS unionpayreturnmoney,
			SUM(CASE WHEN paysource = 8 AND paytype = 1 AND `status` = 2 THEN money ELSE 0 END) AS incomepaymentmoney
		FROM  hd_mer_detail
		<where>
			<if test="dealer!=null and dealer!=''"> AND merid = #{dealer} </if>
			<if test="source!=null and source!=''"> AND paysource IN (${source}) </if>
			<if test="startTime!=null and startTime!=''"> AND create_time &gt;= #{startTime} </if>
			<if test="endTime!=null and endTime!=''"> AND create_time &lt;= #{endTime} </if> 
		</where>
		GROUP BY merid
	</select>
	
<!-- 	//paysource
	/** 金额来源  * 1、充电模块-2、脉冲模块-3、离线充值机-4、提现-5、用户充值钱包-6、用户在线卡充值-7、包月支付 ,8-缴费*/
	paytype /** 支付方式：1-商户收益,2-微信,3-支付宝  4:银联*/
	 -->
	
	<select id="dealerDeviceIncome" parameterType="com.hedong.hedongwx.entity.Parameters" resultType="java.util.Map">
		SELECT merid,
			SUM(CASE WHEN paytype = 2 AND `status` = 1 THEN money ELSE 0 END) AS wechatmoney,
			SUM(CASE WHEN paytype = 3 AND `status` = 1 THEN money ELSE 0 END) AS alipaymoney,
			SUM(CASE WHEN paytype = 2 AND `status` = 2 THEN money ELSE 0 END) AS refwechatmoney,
			SUM(CASE WHEN paytype = 3 AND `status` = 2 THEN money ELSE 0 END) AS refalipaymoney,
			SUM(CASE WHEN paytype = 4 AND `status` = 1 THEN money ELSE 0 END) AS unionpaymoney,
			SUM(CASE WHEN paytype = 4 AND `status` = 2 THEN money ELSE 0 END) AS refunionpaymoney
		FROM  hd_mer_detail
		<where>
			<if test="dealer!=null and dealer!=''"> AND merid = #{dealer} </if>
			<if test="source!=null and source!=''"> AND paysource IN (${source}) </if>
			<if test="startTime!=null and startTime!=''"> AND create_time &gt;= #{startTime} </if>
			<if test="endTime!=null and endTime!=''"> AND create_time &lt;= #{endTime} </if> 
		</where>
		GROUP BY merid
	</select>
	<!--  -->
	
	<!-- origin 根据表（充电记录表）查询充电设备上传的窗口投币、离线刷卡消费、在线刷卡消费的电量与时间信息 -->
	<select id="chargeConsumeData" parameterType="com.hedong.hedongwx.entity.Parameters" resultType="java.util.Map">
		SELECT merchantid AS merid,
  			   SUM(consume_quantity) as consumequantity, 
  			   SUM(consume_time) AS consumetime,
			   SUM(CASE WHEN paytype = 5 THEN expenditure ELSE 0 END) AS windowpulsemoney,
			   SUM(CASE WHEN paytype = 6 THEN expenditure ELSE 0 END) AS offcardmoney,
			   SUM(CASE WHEN paytype = 7 THEN expenditure ELSE 0 END) AS oncardmoney
		FROM hd_chargerecord
		<where>
			<if test=" dealer != null and dealer != ''"> AND merchantid = #{dealer}</if>
			<if test=" code!=null and code!=''"> AND equipmentnum = #{code} </if>
			<if test=" startTime != null and startTime != ''"> AND begintime &gt;= #{startTime}</if>
			<if test=" endTime != null and endTime != ''"> AND begintime &lt;= #{endTime}</if>
		</where>
		GROUP BY merchantid
	</select>
	
	<!-- 根据条件汇总脉冲上传记录信息  -->
	<select id="incoinsNumStatistics" parameterType="com.hedong.hedongwx.entity.Parameters" resultType="java.util.Map">
		SELECT merchantid AS merid, COUNT(1) AS incoins, SUM(money) AS incoinsmoney 
		FROM hd_incoins 
		WHERE handletype = 3 AND `status` = 1
		<if test=" dealer!=null and dealer!=''"> and merchantid = #{dealer}</if>
		<if test=" code!=null and code!=''"> and equipmentnum = #{code}</if>
		<if test=" startTime!=null and startTime!=''"> and begin_time &gt;= #{startTime}</if>
		<if test=" endTime!=null and endTime!=''"> and begin_time &lt;= #{endTime}</if>
		GROUP BY merchantid
	</select>
	
</mapper>