<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hedong.hedongwx.dao.DistrictDao">
	
	<select id="selectDistrict" resultType="java.util.Map">
		SELECT fristPinyin(name) as nameindex, name  FROM hd_district WHERE level_type = 2  ORDER BY nameindex asc
	</select>
	
</mapper>


