<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hedong.hedongwx.dao.DistrictDao">
	
	<select id="selectDistrict" resultType="java.util.Map">
		SELECT IFNULL(fristPinyin(name), 'D' ) as nameindex, name  FROM hd_district WHERE level_type = 2  ORDER BY nameindex asc
	</select>
	
	<select id="selectDistrictByParam" parameterType="com.hedong.hedongwx.entity.District" resultType="com.hedong.hedongwx.entity.District">
		select id,`name` from hd_district
		<where>
			<if test="levelType">
				level_type = #{levelType}
			</if>
			<if test="parentId">
				parent_id = #{parentId}
			</if>
		</where>
	</select>
	
</mapper>


