<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hedong.hedongwx.dao.IdcardDao">
	<insert id="insertIdcard" parameterType="com.hedong.hedongwx.entity.Idcard">
		insert into hd_idcard
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="uid != null">
				uid,
			</if>
			<if test="idCardnum != null">
				id_cardnum,
			</if>
			<if test="cardimgFront != null">
				cardimg_front,
			</if>
			<if test="cardimgBack != null">
				cardimg_back,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="uid != null">
				#{uid,jdbcType=INTEGER},
			</if>
			<if test="idCardnum != null">
				#{idCardnum,jdbcType=VARCHAR},
			</if>
			<if test="cardimgFront != null">
				#{cardimgFront,jdbcType=VARCHAR},
			</if>
			<if test="cardimgBack != null">
				#{cardimgBack,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateIdcard" parameterType="com.hedong.hedongwx.entity.Idcard">
		update hd_idcard
		<set>
			<if test="idCardnum != null">
				id_cardnum = #{idCardnum,jdbcType=VARCHAR},
			</if>
			<if test="cardimgFront != null">
				cardimg_front = #{cardimgFront,jdbcType=VARCHAR},
			</if>
			<if test="cardimgBack != null">
				cardimg_back = #{cardimgBack,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		<where>
			<if test="id != null">
				and id = #{id,jdbcType=INTEGER},
			</if>
			<if test="uid != null">
				and uid = #{uid,jdbcType=INTEGER},
			</if>
		</where>
	</update>
	<select id="selectIdcardByUid">
		select id from hd_idcard where uid = #{uid}
	</select>
</mapper>